@font-face {
	font-family: 'wevicon';
	src: url('/font/weviconfont-o.eot?9hndo5');
	src: url('/font/weviconfont-o.eot?9hndo5#iefix') format('embedded-opentype'),
		url('/font/weviconfont-o.woff?9hndo5') format('woff'),
		url('/font/weviconfont-o.ttf?9hndo5') format('truetype'),
		url('/font/weviconfont-o.svg?9hndo5#menu-o') format('svg');
}

.wevicon {
	display: inline-block;
	font-style: normal;
	vertical-align: middle;
	text-align: center;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wevicon:before {
	display: block;
	font-family: "wevicon" !important;
}