.wevicon-portal-default:before {
  content: "\e96c";
}

.wevicon-accounts-Password:before {
  content: "\e900";
}
.wevicon-accounts-quit:before {
  content: "\e901";
}
.wevicon-accounts-Set-up:before {
  content: "\e902";
}
.wevicon-accounts-skin:before {
  content: "\e903";
}

.wevicon-search-wf:before {
  content: "\e9a1";
}
.wevicon-search-cpt:before {
  content: "\e9a2";
}
.wevicon-search-communion:before {
  content: "\e9a3";
}
.wevicon-search-cwork:before {
  content: "\e9a4";
}
.wevicon-search-crm:before {
  content: "\e9a5";
}
.wevicon-search-doc:before {
  content: "\e9a6";
}
.wevicon-search-proj:before {
  content: "\e9a7";
}
.wevicon-search-email:before {
  content: "\e9a8";
}
.wevicon-search-hr:before {
  content: "\e9a9";
}
.wevicon-search-microSearch:before {
  content: "\e9aa";
}

.wevicon-toolbar--pluggable-unit:before {
  content: "\e9ab";
}
.wevicon-toolbar-Application-Center:before {
  content: "\e9ac";
}
.wevicon-toolbar-control:before {
  content: "\e9ad";
}
.wevicon-toolbar-doc:before {
  content: "\e9ae";
}
.wevicon-toolbar-edition:before {
  content: "\e9af";
}
.wevicon-toolbar-know:before {
  content: "\e9b0";
}
.wevicon-toolbar-license:before {
  content: "\e9b1";
}
.wevicon-toolbar-Organization-list:before {
  content: "\e9b2";
}

.wevicon-portal-blog:before {
  content: "\e96a";
}
.wevicon-portal-car:before {
  content: "\e96b";
}
.wevicon-portal-common:before {
  content: "\e96c";
}
.wevicon-portal-cowork:before {
  content: "\e96d";
}
.wevicon-portal-crm:before {
  content: "\e96e";
}
.wevicon-portal-cs:before {
  content: "\e96f";
}
.wevicon-portal-demo:before {
  content: "\e970";
}
.wevicon-portal-doc:before {
  content: "\e971";
}
.wevicon-portal-email:before {
  content: "\e972";
}
.wevicon-portal-fa:before {
  content: "\e973";
}
.wevicon-portal-home:before {
  content: "\e974";
}
.wevicon-portal-hrm:before {
  content: "\e975";
}
.wevicon-portal-implement:before {
  content: "\e976";
}
.wevicon-portal-investigate:before {
  content: "\e977";
}
.wevicon-portal-kpi:before {
  content: "\e978";
}
.wevicon-portal-license:before {
  content: "\e979";
}
.wevicon-portal-meeting:before {
  content: "\e97a";
}
.wevicon-portal-message:before {
  content: "\e97b";
}
.wevicon-portal-news:before {
  content: "\e97c";
}
.wevicon-portal-official:before {
  content: "\e97d";
}
.wevicon-portal-photo:before {
  content: "\e97e";
}
.wevicon-portal-project:before {
  content: "\e97f";
}
.wevicon-portal-reportform:before {
  content: "\e980";
}
.wevicon-portal-satisfaction:before {
  content: "\e981";
}
.wevicon-portal-schedule:before {
  content: "\e982";
}
.wevicon-portal-si:before {
  content: "\e983";
}
.wevicon-portal-store:before {
  content: "\e984";
}
.wevicon-portal-workflow:before {
  content: "\e985";
}
.wevicon-portal-ws:before {
  content: "\e986";
}

.wevicon-topmenu-Arrow:before {
  content: "\e9b3";
}
.wevicon-topmenu-Collection:before {
  content: "\e9b4";
}
.wevicon-topmenu-fav:before {
  content: "\e9b4";
}
.wevicon-topmenu-Common:before {
  content: "\e9b5";
}
.wevicon-topmenu-emessage:before {
  content: "\e9b6";
}
.wevicon-topmenu-emobile:before {
  content: "\e9b7";
}
.wevicon-topmenu-home:before {
  content: "\e9b8";
}
.wevicon-topmenu-menu:before {
  content: "\e9b9";
}
.wevicon-topmenu-more:before {
  content: "\e9ba";
}
.wevicon-topmenu-news:before {
  content: "\e9bb";
}
.wevicon-topmenu-search:before {
  content: "\e9bc";
}
.wevicon-topmenu-Sign:before {
  content: "\e9f3";
}
.wevicon-topmenu-rtx:before {
  content: "\e9a3";
}
.wevicon-topmenu-elink:before {
  content: "\e9a3";
}
.wevicon-topmenu-suggest:before {
  content: "\e964";
}

.wevicon-toolbar-download:before {
  content: "\e9ab";
}
.wevicon-toolbar-back-end:before {
  content: "\e9ac";
}
.wevicon-toolbar-plugin:before {
  content: "\e9ad";
}
.wevicon-toolbar-version:before {
  content: "\e9af";
}
.wevicon-toolbar-license:before {
  content: "\e9b1";
}
.wevicon-toolbar-org:before {
  content: "\e9b2";
}
.wevicon-remindinfo-news:before { 
  content: "\e9bb";
}