/*-----------------------------我的流程-----------------------------*/
/* 应用场景设计 */
.wevicon-menu-1--4683:before { content: "\ea13"; }
/*-----------------------------我的人事-----------------------------*/
/* 工作驾驶舱 */
.wevicon-menu-5--4683:before { content: "\ea10"; }
/* 微信账号绑定 */
.wevicon-menu-5--5737:before { content: "\ea0f"; }
/* 招聘管理 */
.wevicon-menu-5--3958:before { content: "\ea11"; }
/* 培训考核 */
.wevicon-menu-5--4254:before {  }
/* 目标成果设定 */
.wevicon-menu-5--4731:before {  }
/*-----------------------------我的知识-----------------------------*/
/* KB补丁查询 */
.wevicon-menu-2--2453:before { content: "\ea0c"; }
/* 知识问答 */
.wevicon-menu-2--2794:before { content: "\ea0d"; }
/* 知识地图 */
.wevicon-menu-2--4528:before { content: "\ea0b"; }
/* 专家地图 */
.wevicon-menu-2--5328:before { content: "\ea09"; }
/* 图书管理 */
.wevicon-menu-2--5424:before { content: "\ea08"; }
/* 业务工具集 */
.wevicon-menu-2--5731:before { content: "\ea0e"; }
/*-----------------------------我的协作-----------------------------*/
/* e-cology */
.wevicon-menu-80--4888:before { content: "\e9df"; }
/* e-office */
.wevicon-menu-80--5130:before { content: "\e9e2"; }
/* eteams */
.wevicon-menu-80--5132:before { content: "\e9e3"; }
/* e-mobile */
.wevicon-menu-80--4889:before { content: "\e9e1"; }
/* e-message */
.wevicon-menu-80--4890:before { content: "\e9e0"; }
/* 项目日报 */
.wevicon-menu-80--4956:before { content: "\e9de"; }
/* 任务协作 */
.wevicon-menu-80--5011:before { content: "\e9e4"; }
/*-----------------------------我的客户-----------------------------*/
/* 客户伙伴商机 */
.wevicon-menu-3--4990:before  { content: "\e9e7"; }
/* 商机反馈 */
.wevicon-menu-3--3852:before  { content: "\e9e6"; }
/* 渠道客户 */
.wevicon-menu-3--4145:before  { content: "\e9e5"; }
/* 批量转移 */
.wevicon-menu-3--4279:before  { content: "\e9e9"; }
/* 地图插件 */
.wevicon-menu-3--4933:before  { content: "\e9e8"; }
/*-----------------------------我的项目-----------------------------*/
/* 项目管理门户 */
.wevicon-menu-4--5160:before  {  }
/* 直销合同 */
.wevicon-menu-4--4121:before  {  }
/* 渠道合同 */
.wevicon-menu-4--4317:before  {  }
/*-----------------------------集成系统-----------------------------*/
/* 集成登陆说明 */
.wevicon-menu--2774--2818:before  { content: "\ea04"; }
/* 集成帐号设置 */
.wevicon-menu--2774--2791:before  { content: "\e9f7"; }
/* Faq平台 */
.wevicon-menu--2774--2775:before  { content: "\ea00"; }
/* 考试系统 */
.wevicon-menu--2774--2777:before  { content: "\e9ff"; }
/* email系统 */
.wevicon-menu--2774--2779:before  { content: "\e9fc"; }
/* 传真系统 */
.wevicon-menu--2774--2780:before  { content: "\ea01"; }
/* 视频会议系统*/
.wevicon-menu--2774--2781:before  { content: "\ea07"; }
/* 代理商管理平台 */
.wevicon-menu--2774--3337:before  { content: "\e9f8"; }
/* e-learning平台 */
.wevicon-menu--2774--2836:before  { content: "\e9fb"; }
/* e-office demo */
.wevicon-menu--2774--2782:before  { content: "\e9fd"; }
/* e-cology demo */
.wevicon-menu--2774--2783:before  { content: "\e9fa"; }
/* e-weaver demo */
.wevicon-menu--2774--2784:before  { content: "\e9fe"; }
/* 集成demo */
.wevicon-menu--2774--3186:before  { content: "\ea03"; }
/* 报表门户 */
.wevicon-menu--2774--2793:before  { content: "\ea05"; }
/* 管理驾驶舱 */
.wevicon-menu--2774--2825:before  { content: "\e9f9"; }
/* 行业Demo */
.wevicon-menu--2774--5000:before  { content: "\ea02"; }
/* 专题Demo */
.wevicon-menu--2774--5097:before  { content: "\ea06"; }
/*-----------------------------演示Demo-----------------------------*/
/* 演示Demo汇总 */
.wevicon-menu--3970--3971:before  { content: "\e9f2"; }
/* ecology体验版 */
.wevicon-menu--3970--4899:before  { content: "\e9ed"; }
/* 集团版demo */
.wevicon-menu--3970--3973:before  { content: "\e9ef"; }
/* 执行力平台 */
.wevicon-menu--3970--6150:before  { content: "\e9ec"; }
/* 政务版Demo */
.wevicon-menu--3970--3974:before  { content: "\e9ee"; }
/* 开放后台版 */
.wevicon-menu--3970--3976:before  { content: "\e9eb"; }
/* 行业demo */
.wevicon-menu--3970--4992:before  { content: "\e9f0"; }
/* 专题Demo */
.wevicon-menu--3970--5091:before  { content: "\e9f1"; }
/* Demo管理 */
.wevicon-menu--3970--5336:before  { content: "\e9ea"; }
/*-----------------------------我的通信-----------------------------*/
/* 微信消息 */
.wevicon-menu-107--5762:before  { content: "\e9dc"; }
/*-----------------------------我的日程-----------------------------*/
/* 时间资源管理 */
.wevicon-menu-140--4917:before  { content: "\ea14"; }
/*-----------------------------目标绩效-----------------------------*/
/* 绩效考核(新) */
.wevicon-menu-94--5414:before  { content: "\e9db"; }
/*-----------------------------执行力平台-----------------------------*/
/* 任务协作 */
.wevicon-menu--5726--5729:before { content: "\e9f4"; }
/* 目标管理 */
.wevicon-menu--5726--5727:before { content: "\e9f6"; }
/* 计划报告 */
.wevicon-menu--5726--5728:before { content: "\e9f5"; }
/* 绩效考核 */
.wevicon-menu--5726--5730:before { content: "\e9f3"; }