.e9theme-color-11 .e9header-container {
    color: #fff;
    background-color: #943b59;
}

.e9theme-color-11 .e9aside-container .wea-menu,
.e9theme-color-11 .e9aside-container .ant-menu {
    color: #b79da6;
    background-color: #fff;
}

.e9theme-color-11 .e9aside-container .wea-menu .wea-menu-switch {
    color: #b79da6;
    background-color: #744855;
}

.e9theme-color-11 .e9aside-container .wea-menu .wevicon {
    color: #b79da6;
}

.e9theme-color-11 .e9aside-container .wea-menu .wea-menu-selected .wevicon,
.e9theme-color-11 .e9aside-container .wea-menu-inline .ant-menu-item-active .wevicon,
.e9theme-color-11 .e9aside-container .wea-menu-inline .ant-menu-submenu-active .wevicon,
.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-submenu-active .wevicon {
    color: #fff;
}

.e9theme-color-11 .e9aside-container .wea-menu-inline .wea-menu-selected,
.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-root > .ant-menu-submenu > .wea-menu-selected,
.e9theme-color-11 .e9aside-container .wea-menu-inline .ant-menu-item:hover,
.e9theme-color-11 .e9aside-container .wea-menu-inline .ant-menu-submenu-title:hover {
    color: #fff !important;
    background-color: #943b59 !important;
}

.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-sub .wea-menu-selected,
.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-item-active,
.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-submenu-active {
    color: #b79da6 !important;
    background-color: #744855 !important;
}

.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-root > .ant-menu-item-active:before,
.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-root > .ant-menu-submenu-active:before {
    border: 2px solid #744855;
    border-top: 21px solid #744855;
    border-bottom: 21px solid #744855;
}

.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-root > .ant-menu-submenu-active,
.e9theme-color-11 .e9aside-container .wea-menu-vertical .ant-menu-submenu-active > ul {
    color: #b79da6;
    background-color: #943b59 !important;
}

.e9theme-color-11 .e9left-menu-email-item {
    color: #fff;
    background: #943b59;
}

.e9theme-color-11 .e9left-menu-email-item .wevicon {
    color: #fff !important;
}

.e9theme-color-11 .e9left-menu-email-item-selected {
    color: #744855;
    background: #f6f6f6;
}

.e9theme-color-11 .e9left-menu-email-item-selected .wevicon {
    color: #744855 !important;
}

.e9theme-color-11 .e9left-menu-email-item-ul {
    color: #744855;
    background: #f6f6f6;
}

.e9theme-color-11 .e9left-menu-email-item-ul li:hover {
    background: #dadfe3;
}