.excelOuterTable{
	border:0px; margin:0px; padding:0px;
	width:100% !important;
}
table.excelMainTable ol{
	padding-left:16px;
}
.excelTabTable{
	width:100%; border:0px; margin:0px; padding:0px; border-collapse:collapse;
}
.excelDetailTable{
	border:0px; margin:0px; padding:0px; border-collapse:collapse;
}
.excelDetailTable .header{
	height:30px !important;
}
.detailButtonDiv{
	margin-top: 2px;
	float:right; text-align:right;
}
.detail_hide_col{
	display:none;
}
.detailSumTd{
	background: #FFF !important;
}
.warnInfoSpan{
	color:red !important;
	font-size:16px !important;
}
.portalLoading{height:100px; line-height:100px; text-align:center; background:#ffffff;}
.iframeLoading{text-align:center; background:#ffffff;}
.scancode{vertical-align:middle;}
.qrcodeimg{min-height:50px; height:50px;}
.barcodeimg{min-height:50px; height:50px; width:100%;}


/*----------改造后有效CSS------*/
.excelMainTable{
	border: 0px;
	margin: 0px;
	padding: 0px;
	border-collapse:collapse;
	table-layout: fixed;
}
.excelDetailTableDiv{
	margin-left: -1px;
}
.span_mc{
	display:inline-block;
}
.excelMainTable .etype_3 a{
	color:#123885 !important;
}
.excelMainTable .etype_3 a:hover{
	color:red !important;
}
.excelMainTable .etype_3 img{
	max-width:90% !important;
}
.excelMainTable .etype_5 img{
	max-width:90% !important;
}
.excelMainTable .detailBtn{
	font-size:18px;
	margin:2px 6px;
	cursor: pointer;
}
.excelMainTable .icon-workflow-form-Add-to{
	color: #5cb4ff;
}
.excelMainTable .icon-workflow-form-Add-to:hover{
	color:#FFFFFF;
	background-color: #5cb4ff;
}
.excelMainTable .icon-workflow-form-delete{
	color: #7a91a6;
}
.excelMainTable .icon-workflow-form-delete:hover{
	color:#FFFFFF;
	background-color: #7a91a6;
}
.linkage_hide{
	display: none !important;
}