.wea-input-ctrl {
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: #000;
    position: relative;
    display: inline-block;
}

.wea-input-ctrl .text {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.wea-input-ctrl .ant-input {
    height: inherit;
    font-size: inherit;
    padding: 0;
   	height: 28px;
   	border-radius:3px;
}

.wea-input-ctrl .ant-input-wrapper {
    width: 100%;
    display: inline-block;
    height: inherit;
}

.input_required:after {
    content: "*";
    font-size: 14px;
    color: #ff0000;
    position: absolute;
    right: 2px;
    top: 20%;
}


.findiv{
	height:100%; overflow:hidden; text-align:center;
}
.fintable{
	width:100%; height:100%; float:right; border:0px; border-spacing:0px !important;
}
.fintable .ftoprow td{
	border-bottom:solid 1px black;
}
.fintable .finborder{
	min-width:18px;
}
.fintable .fborder1{
	border-right:solid 1px black; 
}
.fintable .fborder2{
	border-right:solid 2px red;
}
.fintable .fborder3{
	border-right:solid 2px blue;
}